<!DOCTYPE html>
<html>
<head>
    <title>Food App</title>
    <link rel="stylesheet" type="text/css" href="styles/mainn.css">
    <link rel="stylesheet" type="text/css" href="styles/custom.css">
    <link rel="stylesheet" type="text/css" href="styles/contact-form.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <div class="nav-bar" id="top">
    <form method="POST" action="/login">
      <input type="number" name="user_id" placeholder="Enter User ID" />
      <input type="submit" value="Login" />
    </form>
    <% if (user) { %>
      <div class="user-section">
          <p>Welcome, <%= user.name %>!</p>
      </div>
      <% } %>
      <form method="POST" action="/logout">
        <button type="submit">Sign Out</button>
      </form>
    <div class="menu-section">
        <span id="menu-btn" class="menu-btn">&#9776;</span>
        <div id="dropdown-content" class="dropdown-content">
            <a href="#hero">Home</a>
            <a href="#menu">Menu</a>
            <a href="#contact-us">Contact Us</a>
            <a href="/about">About</a>
        </div>
    </div>
        <h2>Snack-Bar</h2>
        <div class="cart-section">
          <form method="GET" action="/cart">
          <button id="cart-btn" class="cart-btn">🛒<span id="cart-count"></span></button>
        </form>
        </div>
    </div>

    <div id="homepage">
      <section id="hero">
          <img src="images/backhome.jpg" alt="Delicious food">
          <h1>Welcome to Our Food Adventure</h1>
          <p>Discover exciting recipes, cooking tips, and more!</p>
      </section>
      <div class="clear"></div>
  </div>
  <div class="menu-items">
  <% if (foodItems && foodItems.length > 0) { %>
    <ul>
      <div class="container" id="menu">
      <% foodItems.forEach(foodItem => { %>
        <div class="food-item" id="<%= foodItem.id %>">
          <img src="<%= foodItem.photo_url %>" alt="<%= foodItem.name %>">
          <h3><%= foodItem.name %></h3>
          <p>$<%= foodItem.price %></p>
          <form method="POST" action="/cart">
            <input name="order_id" value="" hidden>
            <input name="food_id" value="<%= foodItem.id %>" hidden>
          <button type="submit" class="submit-button" data-item-id="<%= foodItem.id %>">Add to Cart</button>
        </form>
          <output name="counter" class="counter" id="cart-count"></output>
          <div class="description">
              <p><%= foodItem.description %></p>
          </div>
      </div>
      <% }); %>
    </ul>
  <% } %>
</div>
</div>
    <!-- <div class="container" id="menu">

      <div class="food-item" id="italian-burger">
        <img src="images/italianburger.jpg" alt="Italian burger">
        <h3>Italian burger</h3>
        <p>$10</p>
        <button type="submit" class="submit-button" onclick="addToCart('italian-burger')">Add to Cart</button>
        <output name="counter" class="counter" id="cart-count"></output>
        <div class="description">
            <p>A scrumptious Italian burger with freshly sourced tomatoes, lettuce, and our special house sauce. Served with a side of crispy fries.</p>
        </div>
    </div>
    <div class="food-item" id="burrito-bowl">
      <img src="images/burito.jpeg" alt="Burrito Bowl">
      <h3>Burrito Bowl</h3>
      <p>$15</p>
      <button type="submit" class="submit-button" onclick="addToCart('burrito-bowl')">Add to Cart</button>
      <output name="counter" class="counter" id="cart-count-burrito-bowl"></output>
      <div class="description">
          <p>Our Burrito Bowl features succulent grilled chicken, seasoned black beans, fresh avocado, and zesty salsa on a bed of fluffy rice. A hearty meal that will leave you satisfied!</p>
      </div>
  </div>
  <div class="food-item" id="lsangna">
    <img src="images/lsangna.jpeg" alt="Lsangna">
    <h3>Lsangna</h3>
    <p>$20</p>
    <button type="submit" class="submit-button" onclick="addToCart('lsangna')">Add to Cart</button>
    <output name="counter" class="counter" id="cart-count-lsangna"></output>
    <div class="description">
      <p>Our Lasagna is a heavenly blend of pasta layers filled with rich meat sauce, creamy bechamel, and topped off with a generous sprinkle of mozzarella. Truly a comforting classic!</p>
    </div>
  </div>
        <div class="food-item" id="pizza">
          <img src="images/pizza.jpeg" alt="Pizza">
          <h3>Pizza</h3>
          <p>$15</p>
          <button type="submit" class="submit-button" onclick="addToCart('pizza')">Add to Cart</button>
          <output name="counter" class="counter" id="cart-count-pizza"></output>
          <div class="description">
            <p>Experience the magic of Italy with our Pizza! Crafted with hand-tossed dough, slathered with tangy marinara, and topped with a delightful mix of cheese and toppings. Bellissimo!</p>
        </div>
      </div>

      <div class="food-item" id="chickenwings">
          <img src="images/chick.jpeg" alt="Chicken Wings">
          <h3>Chicken Wings</h3>
          <p>$18</p>
          <button type="submit" class="submit-button" onclick="addToCart('chickenwings')">Add to Cart</button>
          <output name="counter" class="counter" id="cart-count-chickenwings"></output>
          <div class="description">
            <p>Spice up your meal with our Chicken Wings! Crispy on the outside, juicy on the inside, and coated in our secret sauce. They're finger-licking good!</p>
        </div>
      </div>

      <div class="food-item" id="fries">
          <img src="images/fires.jpeg" alt="Fries">
          <h3>Fries</h3>
          <p>$22</p>
          <button type="submit" class="submit-button" onclick="addToCart('fries')">Add to Cart</button>
          <output name="counter" class="counter" id="cart-count-fries"></output>
          <div class="description">
            <p>Who can resist our golden Fries? Fried to perfection and lightly salted, they're the perfect side dish or a delicious snack on their own. Don't forget the ketchup!</p>
        </div>
      </div>

      <div class="food-item" id="combo1">
          <img src="images/combo1.png" alt="Combo 1">
          <h3>Combo 1</h3>
          <p>$30</p>
          <button type="submit" class="submit-button" onclick="addToCart('combo1')">Add to Cart</button>
          <output name="counter" class="counter" id="cart-count-combo1"></output>
          <div class="description">
            <p>Indulge in our Combo 1 for the perfect meal! You get our signature Italian Burger, a serving of crispy golden Fries, and your choice of a refreshing drink. It's the ultimate meal deal!</p>
        </div>
        </div>
      <div class="food-item" id="combo2">
        <img src="images/combo2.jpeg" alt="Combo 2">
        <h3>Combo 2</h3>
        <p>$18.99</p>
        <button type="submit" class="submit-button" onclick="addToCart('combo2')">Add to Cart</button>
        <output name="counter" class="counter" id="cart-count-combo2"></output>
        <div class="description">
          <p>Dive into our Combo 2 for an unforgettable meal experience! Enjoy a slice of our delightful Pizza, accompanied by a fresh green salad, and wash it all down with a refreshing Mojito. The perfect combo to satisfy your hunger!</p>
        </div>
      </div>

      <div class="food-item" id="combo3">
        <img src="images/combo3.jpeg" alt="Combo 3">
        <h3>Combo 3</h3>
        <p>$20.99</p>
        <button type="submit" class="submit-button" onclick="addToCart('combo3')">Add to Cart</button>
        <output name="counter" class="counter" id="cart-count-combo3"></output>
        <div class="description">
          <p>Savor the flavors of the North with our Combo 3! This meal includes our North Indian Thali, featuring a variety of delectable dishes such as dal makhani, paneer butter masala, mix veg, jeera rice, raita, naan, and a sweet dessert. It's a feast that's sure to please!</p>
        </div>
      </div>
    </div> -->

    <div class="contact-section">
      <div class="contact-us" id="contact-us">
        <img src="images/cc.jpeg" alt="Contact Us">
        <div class="overlay-text">
            <h2>Contact Us</h2>
            <p>We are here to assist you. Feel free to get in touch with us by sending a message or contact directly through the provided information.</p>
        </div>
    </div>
      <div class="contact-form">
        <h2>Leave a Message</h2>
        <form action="/submit_form" method="post">
          <input type="text" id="name" name="name" placeholder="First Name">
          <input type="text" id="email" name="email" placeholder="Your Email">
          <input type="text" id="phone" name="phone" placeholder="Your Phone Number">
          <textarea id="message" name="message" placeholder="Your Message"></textarea>
          <input type="submit" value="Submit">
        </form>
        <div class="our-contact">
          <h3>Our Contact Information</h3>
          <p>Email: info@example.com</p>
          <p>Phone: +1 2342564219</p>
        </div>
        <a href="#top" class="return-top">Return to Top</a>
      </div>
    </div>

    <script src="scripts/icon.js"></script>
    <script src="scripts/cart.js"></script>
    <!-- <script src="scripts/menu.js"></script> -->
</body>
</html>


